*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url(https://fonts.gstatic.com/s/montserratalternates/v12/mFTiWacfw6zH4dthXcyms1lPpC8I_b0juU0xTIHFA7xG6mA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

body{
    background: #181818;
    overflow:visible;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.menu {
    display: flex;
    font-family: Montserrat;
    margin-left: 60%;
    margin-top: 20px;
}

.menu a{
    text-decoration: unset;
}

.menu p:hover{
    color: grey;
    transition: 0.25s;
}
 
.menu p{
    padding-left: 30px;
    color: white;
}

.centre{
    position: relative;
    background: #761414;
    margin-top: 9%;
    height: 500px;
    font-family: Montserrat;
    color: white;
}

.text{
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 5%;
    text-align: center;
}

.comp{
    display: flex;
    position: absolute;
    top: 0;
    left: 70%;
    width: 477px;
    height: 477px;
}

body{
    margin: 0;
    padding: 0;
    background-color: #000;
}
.arrow{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.configurator{
    visibility:hidden;
    margin-top: 25%;
    height: 1080px;
}

.centre_image{
    margin-top: 25%;
    display: flex;
    justify-content: space-around;
}

.order {
    margin-top: 25%;
    text-align: center;
    color: white;
    font-family: Montserrat;
}

input{
    margin-bottom: 5px;
    text-indent: 5px;
}

.name{
    margin-top: 50px;
}

input[type = 'name'], input[type='tel'], input[type='email'], input[type='number']{
    height: 30px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    outline: none;
    border:none;
}

input[type = 'name']:focus, input[type='tel']:focus, input[type='email']:focus, input[type='number']:focus{
    border: #761414 solid 4px;
    transition: 0.25s;
}

textarea{
    border-radius: 10px;
    outline: none;
    border:none;
    text-indent: 5px;
}

input[type = 'submit']{
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
}

input[type = 'submit']:hover{
    border: #761414 solid 4px;
    transition: 0.25s;
}
